.cmfe-wrapper {
    margin-right: 190px;
}

.CodeMirror {
    background: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    box-sizing: border-box;
    color: #32373c;
    font-family: Consolas, Monaco, monospace;
    font-size: 13px;
    margin: 1px 0;
    width: 97%;
}

@media (max-width: 782px) {
    .cmfe-wrapper {
        margin-right: 0;
    }

    .CodeMirror {
        width: 100%;
    }
}



.CodeMirror-dialog {
    position: absolute;
    left: 0; right: 0;
    background: inherit;
    z-index: 15;
    padding: .1em .8em;
    overflow: hidden;
    color: inherit;
}

.CodeMirror-dialog-top {
    border-bottom: 1px solid #eee;
    top: 0;
}

.CodeMirror-dialog-bottom {
    border-top: 1px solid #eee;
    bottom: 0;
}

.CodeMirror-dialog input {
    border: none;
    outline: none;
    background: transparent;
    width: 20em;
    color: inherit;
    font-family: monospace;
}

.CodeMirror-dialog button {
    font-size: 70%;
}



.CodeMirror-fullscreen {
    bottom: 0;
    height: auto;
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    z-index: 100000;
}

.CodeMirror-lines {
    padding: 2px;
}

.cm-trailingspace {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==) repeat-x bottom left;
}

.CodeMirror-hints {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    list-style: none;

    margin: 0;
    padding: 2px;

    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    border-radius: 3px;
    border: 1px solid silver;

    background: white;
    font-size: 90%;
    font-family: monospace;

    max-height: 20em;
    overflow-y: auto;
}

.CodeMirror-hint {
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
    max-width: 19em;
    overflow: hidden;
    white-space: pre;
    color: black;
    cursor: pointer;
}

li.CodeMirror-hint-active {
    background: #08f;
    color: white;
}
